.element-types {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 8px;
}

.element-types__type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 7ch;
    font-size: 12pt;
    font-weight: 100;
    color: #fff;
    text-shadow: 1px 0px #404040, 2px 0px #404040, 2px 1px #404040, 2px 2px #404040, 1px 2px #404040, 0px 2px #404040, 0px 1px #404040;
    clip-path: polygon(2px 0,
            calc(100% - 2px) 0,
            calc(100% - 2px) 2px,
            100% 2px,
            100% calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) 100%,
            2px 100%,
            2px calc(100% - 2px),
            0 calc(100% - 2px),
            0 2px,
            2px 2px);
}
