:root {
    --menu-blue: #0078C0;
    --shadow: 1px 1px 0 #3336;
    --main-color: #140D00;
    --color-yellow-accent: #E0D898;
    --bounce-height: 5px;
    --arrow-right: polygon(0 0,
            4px 0,
            4px 2px,
            6px 2px,
            6px 4px,
            8px 4px,
            8px 8px,
            6px 8px,
            6px 10px,
            4px 10px,
            4px 12px,
            0 12px);
    --arrow-right-small: polygon(0 0,
            2px 0,
            2px 2px,
            4px 2px,
            4px 4px,
            6px 4px,
            6px 8px,
            4px 8px,
            4px 10px,
            2px 10px,
            2px 12px,
            0 12px);
    --arrow-down: polygon(0 0,
            0 0,
            18px 0,
            18px 2px,
            16px 2px,
            16px 4px,
            14px 4px,
            14px 6px,
            12px 6px,
            12px 8px,
            10px 8px,
            10px 10px,
            8px 10px,
            8px 8px,
            6px 8px,
            6px 6px,
            4px 6px,
            4px 4px,
            2px 4px,
            2px 2px,
            0 2px);
}
